@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;1,300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #303438;
    color: white;
    font-family: 'Montserrat';
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    padding: 10px 30px;
}

.caixa-de-ferramentas{
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.campo-pesquisar{
    font-size: 16px;
    padding: 10px;
    margin-right: 40px;
}

.avatar{
    width: 56px;
    border-radius: 50px;
    border: 1px solid white;
    padding: 3px;
    cursor: pointer;
    transition: border-color 0.5s ease;
}

.avatar:hover{
    border-color: pink;
}

.conteudo{
    padding: 30px;
}

.titulo{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.titulo-noticia{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
}

.coluna-1 p,
.coluna-2 p,
.coluna-3 p{
    font-weight: 200px;
    line-height: 130%;
    font-size: 14px;
    margin-bottom: 10px;
}

.linha{
    display: flex;
}

.coluna-1, .coluna-2, .coluna-3{
    padding: 5px;
}

@media only screen and (max-width:1159px){
    .linha{
        display: block;
    }
}

@media only screen and (max-width:500px){
    body{
        background-color: white;
        color: black;
    }
}